<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

      	{% include 'partials/head.html' %}
<style>
.navbar-wrapper{
	margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
</style>

	</head>
    <body>

      {% set navbar_inverse=true %}
      	{% include 'partials/navigation/navigation.html' %}

    	<!-- Carousel
	    ================================================== -->
	    <div id="myCarousel" class="carousel slide carousel-frontpage carousel-shuffle">
	      <div class="carousel-inner">	
			<div class="item active carousel-loader" style="background-image: url('/render/w1200-c16:9-q80/index/wallpaper.jpg');">
        		<div class="container" style="height:100%;">
				    <div class="carousel-caption">
		              <h2 class="featurette-heading">{{ page.name | upper}}</h2>
		              <p class="lead">a space for experiential research with full scale computational prototypes</p>
			    <!--  <a class="btn btn-inverse btn-large" href="{{ page.site_root }}lab">Learn more about the lab  &raquo;</a>-->
		            </div>
		          </div>
		        </div>
		   {% for child in page.root %}
			{% if child.children %}
	    		{% for child in child.children | reverse%}
		  			{% if "Featured" in child.tags %}
				        <div class="item">
				          <img src="{{ resize_path( child.thumb.url, '1200', '', '1:1', 80) }}" alt="{% if child.thumb.description %} {{ child.thumb.description }} {% endif %}" class="vertical-center gray">
				          <div class="container">
				            <div class="carousel-caption">
				              <h2 class="featurette-heading" style="color:white;">{{ child.title }}</h2><br/>
				              <p class="lead">{{ child.date | date("Y") }}</p><br/>
			              	  <a class="btn btn-large" href="{{ child.url }}">{% if child.html %}Watch a video {% else %}See the photos{% endif %} &raquo;</a> 
				            </div>
				          </div>
				        </div>
		  			{% endif %}
	    		{% endfor %}
		  	{% endif %}
		{% endfor %}
		  </div><!-- /.carousel-inner -->
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	    </div><!-- /.carousel -->
		    <!-- Marketing messaging and featurettes
		    ================================================== -->
		    <!-- Wrap the rest of the page in another container to center all the content. -->

		    <div class="container marketing">

		      <!-- Three columns of text below the carousel -->
		      <div class="row">
		        <div class="span4" class="iconContainer" id="containerWork">
<!--				  <canvas width="140" height="140" id="iconWork" data-processing-sources="/processing/iconWork/iconWork.pde" ></canvas>-->
		          {{ page.column1text }}
		          <p><a class="btn" href="{{ page.site_root }}{{ page.column1url }}">{{ page.column1button }} &raquo;</a></p>
		        </div>
		        <div class="span4">
<!--		        	<script type="application/processing" src="/processing/iconLab/iconLab.pde">
                     </script><canvas width="140" height="140"></canvas>
-->		          {{ page.column2text }}
		          <p><a class="btn" href="{{ page.site_root }}{{ page.column2url }}">{{ page.column2button }} &raquo;</a></p>
			</div>
		        <div class="span4" class="iconContainer" id="containerMe">
<!--				  <canvas width="140" height="140" id="iconMe" data-processing-sources="/processing/iconMe/iconMe.pde" ></canvas>
-->		          {{ page.column3text }}
		          <p><a class="btn" href="{{ page.site_root }}{{ page.column3url }}">{{ page.column3button }} &raquo;</a></p>
		        </div>
		      </div><!-- /.row -->

		      <hr class="featurette-divider">

		      <!-- /END THE FEATURETTES -->

	      	{% include 'partials/footer.html' %}


			<script type="application/javascript">
			
			$(document).ready(function() {

				function setProcessingFocus(sketch,focus){
					var sketch = Processing.getInstanceById($(sketch).children('canvas').attr('id'));
					if(focus){
						sketch.setParentFocused();
					} else {
						sketch.setParentBlurred();
					}
				}

				$('#containerWork').mouseenter(function(){
					setProcessingFocus(this, true);
				});

				$('#containerWork').mouseleave(function(){
					setProcessingFocus(this, false);
				});

				$('#containerMe').mouseenter(function(){
					setProcessingFocus(this, true);
				});

				$('#containerMe').mouseleave(function(){
					setProcessingFocus(this, false);
				});
			});
			
			</script>

    </body>
</html>
